[Desktop Entry]
Categories=GNOME;GTK;Utility;
Comment[pt_BR]=
Comment=
Exec=python3 main.py
GenericName[pt_BR]=WallChanger
GenericName=WallChanger
Icon=
Name=WallChanger
Type=Application

Path=/home/Ortomis/.local/share/WallChanger
Path=/home/Ortomis/.local/share/WallChanger
